/*
 * =========================================================================
 * APIClud - AUI UI 框架    流浪男  QQ：343757327  http://www.auicss.com
 * Verson 2.1
 * =========================================================================
 */
/*初始化类*/
@charset "UTF-8";
.flexbox {
  display: flex;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: auto;
  width: 100%;
}

body {
  line-height: 1.5;
  font-size:0.9rem;
  color: #212121;
  background-color: #fff;
  outline: 0;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}

@media only screen and (min-width: 414px) {
  html {
    font-size: 21px !important;
  }
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}

ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
}
[v-cloak] {
  display: none;
}
